// Styles for all of the user pages:
// Login, Signup, Support
$big-bg: '../assets/img/background2.jpg';
page-login {
  .scroll-content {
    // background-image: url(http://lorempixel.com/400/200/sports/1/);
    background-image: url($big-bg)  ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
  }
 

}