<ion-header>
  <ion-navbar no-border-bottom="">
    <button ion-button=""
            menuToggle="">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>A look ahead...</ion-title>
    <!--<ion-segment [(ngModel)]="segment" (ionChange)="updateSchedule()">
            <ion-segment-button value="not">
                Not Completed
            </ion-segment-button>
            <ion-segment-button value="completed">
                Completed
            </ion-segment-button>
        </ion-segment> 
-->
    <!--<ion-buttons end>
            <button ion-button icon-only (click)="backDate()">
  <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
        </ion-buttons>
       <ion-buttons end>
            <button ion-button icon-only (click)="forwardDate()">
 <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
      </button>
        </ion-buttons>-->
  </ion-navbar>
  <!--<ion-toolbar no-border-top>
        <ion-searchbar color="primary" [(ngModel)]="queryText" (ionInput)="updateSchedule()" placeholder="Search">
        </ion-searchbar>
    </ion-toolbar>-->
</ion-header>
<ion-content>
  <ion-refresher>
    <ion-refresher-content pullingIcon="arrow-dropdown"
                           pullingText="Pull to refresh"
                           refreshingSpinner="circles"
                           refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher>
  <!--<ion-item-group *ngFor="let group of groupedSurgeries">
 
      <ion-item-divider light>{{group.d}}</ion-item-divider>
      <ion-item *ngFor="let s of group.surgeries">{{s.patient}}



      </ion-item>
 
    </ion-item-group>
 -->
  <ion-list>
    <ion-item-group>
      <!--<ion-item-divider sticky>
        <ion-label>
          {{group.d}}
        </ion-label>
      </ion-item-divider>-->
      <ion-card>
        <img src="assets/img/rooms/s{{i+1}}.PNG" />
        <div class="card-title">{{s.surgery.initials | uppercase}}</div>
        <div class="card-subtitle">{{s.surgery.patient}}</div>
        <!--<ion-item   (click)="loadDetail(s.surgery)"  [attr.class]="s.surgery.completed ? 'isRead1' : 'isRead0'">
                             
                              
                                  <ion-avatar item-left> 
                                      <img [src]="s.surgery.doctorImage" />
            </ion-avatar>
                             <h2>{{s.surgery.patient}}</h2>
        <p> <i> {{s.surgery.term | date:'shortDate'}} at  {{s.surgery.term | date:'shortTime'}} </i></p>
                            </ion-item>-->
        <ion-item>
          <ion-avatar item-left="">
            <img />
          </ion-avatar>
          <h2>{{s.surgery.initials}}</h2>
          <h2>{{s.surgery.patient}}</h2>
          <p>Status: {{s.surgery.admissionStatus }}</p>
          <p>Duration: {{s.surgery.surgeryTime}}</p>
          <p>
            <i>{{s.surgery.term | date:'shortDate'}} at {{s.surgery.term | date:'shortTime'}}</i>
          </p>
        </ion-item>
        <ion-card-content>
          <ion-list>
            <button ion-item="">
              <ion-icon item-left=""
                        name="barcode"
                        small=""></ion-icon>
              <h2>CPT Codes</h2>
              <p>{{s.surgery.cpt}}</p>
            </button>
            <button ion-item="">
              <ion-icon item-left=""
                        name="barcode"
                        small=""></ion-icon>
              <h2>DX Codes</h2>
              <p>{{s.surgery.diagnosisCode}}</p>
            </button>
            <button color="favorite"
                    ion-item=""
                    small="">
              <ion-icon item-left=""
                        name="cash"
                        small=""></ion-icon>
              <h2>Review</h2>
              <p>Review Preference Cards</p>
            </button>
            <button color="danger"
                    ion-item="">
              <ion-icon item-left=""
                        name="close-circle"
                        small=""></ion-icon>
              <h2>Cancel</h2>
              <p>Cancel surgery and remove from this list!</p>
            </button>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-item-group>
  </ion-list>
  <ion-list-header>No Scheduled Surgeries.</ion-list-header>
</ion-content>
