<ion-header>
    <ion-navbar no-border-bottom>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
   <ion-title>Messages</ion-title>
    </ion-navbar><ion-toolbar>
        <ion-segment [(ngModel)]="segment" (ionChange)="updateSegment()">
            <ion-segment-button value="all">
                All
                <ion-badge color="secondary" item-right>{{metrics?.unread + metrics?.read}} </ion-badge>
            </ion-segment-button>
            <ion-segment-button value="unread">
 Unread
<ion-icon name="mail"></ion-icon>
                <ion-badge color="favorite" item-right>{{metrics?.unread}} </ion-badge>
            </ion-segment-button>
            <ion-segment-button value="read" >
 Read
<ion-icon name="mail-open"></ion-icon>
                <ion-badge color="google" item-right> {{metrics?.read}}</ion-badge>
            </ion-segment-button>
        </ion-segment>
 
    </ion-toolbar>
</ion-header>
<!--<ion-content class="outer-content speaker-list">
    <ion-list>
        <ion-item *ngFor="let m of messages">
            <ion-avatar item-left>
            <img src="{{m.doctorImage}}">
            </ion-avatar>
            <h2>{{m.subject}}</h2>
            <p>{{m.message}}</p>v
        </ion-item>

    </ion-list>
</ion-content>-->
<ion-content class="outer-content message-list">
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>

    <ion-list #messageList  [virtualScroll]="messages" >





        <!--<ion-item-group *virtualItem="let group" > -->
 
            <!--<ion-item-divider sticky color="light">
                <ion-label>
                    {{messages.d}}
                </ion-label>

                [hidden]="group.hide" <button *ngIf="group.messages.length>1" ion-button item-right color="light" (click)="deleteGroup(group)">
        <ion-icon  name="trash" color="danger"> </ion-icon>
          {{group.messages.length}} Messages
      </button> 
            </ion-item-divider>-->


            <ion-item-sliding *virtualItem="let m" [attr.class]="m.message.viewed ? 'isRead1' : 'isRead0'"    >
                <i class="ion-email"></i>
                <ion-icon name="email"></ion-icon>
                <ion-item (click)="showDetails(m.message)">
                    <ion-avatar item-left>
                        <ion-img [src]="m.message.DoctorImage"></ion-img> 
                    </ion-avatar>
                    <h2>{{m.message.subject}} </h2>
                    <h3>{{m.message.message}} </h3>
                
                    <ion-note item-right text-right> {{m.message.createdAt | date:'longDate' }} <br> {{m.message.createdAt | date:'shortTime' }}<br> <i>( {{m.message.createdAt | amTimeAgo}}) </i>

                    </ion-note>
                   
                </ion-item>
                <ion-item-options side="left">
                    <button ion-button color="danger" (click)="delete(m.message)">
        <ion-icon name="trash"></ion-icon>
        Delete
      </button>

                </ion-item-options>
                <ion-item-options side="right">
                    <button ion-button color="primary" (click)="reply(m.message)">
        <ion-icon name="mail"></ion-icon>
        Reply
      </button>
                </ion-item-options>
            </ion-item-sliding>



        <!--                        </ion-item-group>
                <ion-col col-12 col-md-12 align-self-stretch align-self-center *ngFor="let m of messages">
                    <ion-card class="message-card">

                        <ion-card-header  >
                            <button ion-item detail-none (click)="showDetails(m)"  [attr.class]="m.viewed==0 ? 'isRead1' : 'isRead0'">
                              {{m.subject}}
                            </button>
                        </ion-card-header>

                        <ion-card-content class="outer-content">
                            <h3>{{m.message}}</h3>
                        </ion-card-content>

                        <ion-row no-padding>
                            <ion-col text-left col-md-4>
                                <button ion-button clear small color="primary" icon-left (click)="reply(m)">
                                  <ion-icon name='undo'></ion-icon>
                                Reply
                                </button>
                            </ion-col>
                            <ion-col text-center  col-md-4>
                                <button ion-button clear small color="primary" icon-left (click)="showDetails(m)">
          <ion-icon name='share-alt'></ion-icon>
         Details
        </button>
                            </ion-col>
                            <ion-col text-right  col-md-4>
                                <button ion-button clear small color="primary" icon-left (click)="showContactInfo(m)">
          <ion-icon name='chatboxes'></ion-icon>
          Contact
        </button>
                            </ion-col>
                        </ion-row>
                    </ion-card>
                </ion-col>-->

    </ion-list>
 

</ion-content>