<ion-header>
    <ion-navbar no-border-bottom>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>{{ title }}</ion-title>
    </ion-navbar>

    <ion-toolbar no-border-top>
        <div padding>
            <ion-segment [(ngModel)]="segment" (ionChange)="updateSegment()">
                <ion-segment-button value="today">
                    Today
                    <ion-badge color="favorite" item-right>{{metrics?.today}} </ion-badge>
                </ion-segment-button>
                <ion-segment-button value="future">
                    Future
                    <ion-badge color="favorite" item-right>{{metrics?.future}} </ion-badge>
                </ion-segment-button>
                <ion-segment-button value="past">
                    Past
                    <ion-badge color="favorite" item-right>{{metrics?.past}} </ion-badge>
                </ion-segment-button>
            </ion-segment>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing Surgeries">
            Pull to refresh
        </ion-refresher-content>
    </ion-refresher>

    <!--<ion-item-group *ngFor="let group of groupedSurgeries">
 
      <ion-item-divider light>{{group.d}}</ion-item-divider>
      <ion-item *ngFor="let s of group.surgeries">{{s.patient}}



      </ion-item>
 
    </ion-item-group>
 -->
    <div [ngSwitch]="segment" padding>

        <ion-list #surgeryList *ngSwitchCase="'future'">

            <ion-item-group *ngFor="let group of groups" [hidden]="group.surgeries==0">

         
            <ion-item-divider sticky color="light" *ngIf="group.surgeries?.length>0" >
                <ion-label>
                    {{group.d}}
                </ion-label>

                <ion-note item-right text-right> 
          {{group.surgeries?.length}}  Surgeries
      </ion-note>
            </ion-item-divider>




                <ion-card  *ngFor="let s of group.surgeries;   let i = index;" #slidingItem [attr.track]="s.surgery.admissionStatus | lowercase" [hidden]="s.surgery.hide">

                    <ion-item (click)="loadDetail(s.surgery)">
                        <ion-avatar item-left>
                            <img [src]="s.surgery.doctorImage" />
                        </ion-avatar>
                        <h2>{{s.surgery.initials}}</h2>
                        <h2>{{s.surgery.patient}}</h2>
                        <p> Duration: {{s.surgery.surgeryTime}}</p>
                        <p> <i> {{s.surgery.term | date:'shortDate'}} at  {{s.surgery.term | date:'shortTime'}} </i></p>

                    </ion-item>
                    <ion-card-content>

                        <ion-list>
 <ion-item-divider color="light" small>Actions</ion-item-divider>
                        <button ion-item (click)="showEditCodes(s,'CPT')">
    <ion-icon name="barcode" item-left large color="primary"></ion-icon>
    <h2>CPT Codes</h2>
    <p>{{s.surgery.cpt}}</p>
     <ion-note item-right>{{s.cptArray?.length}} codes</ion-note>
  </button>

                        <button ion-item (click)="showEditCodes(s,'DX')">
    <ion-icon name="barcode" item-left  large color="primary"></ion-icon>
    <h2>DX Codes</h2>
    <p>{{s.surgery.diagnosisCode}}</p>
 <ion-note item-right>{{s.dxArray?.length}} codes</ion-note>
  </button>
                           
                           

                        <!--CANCEL BUTTON-->
                        <ion-item-sliding>
                            <button ion-item clear item-left (click)="cancelSurgery(s,cardItem)"> <ion-icon name="close-circle" item-left small color="danger"></ion-icon>
                                <h2>Cancel</h2>
                                <p>Cancel surgery and remove from this list!</p>
                                <ion-note item-right>{{s.surgery.coordinatorName}}  </ion-note> <ion-icon name="more" item-right small color="facebook"></ion-icon>
                        </button>
                            <ion-item-options side="right">
                                <button ion-button color="primary" (click)="callComposeEmail(s.surgery.coordinatorEmail)">
                                     <ion-icon name="mail"></ion-icon> 
                                   </button>
                                <button ion-button color="primary" (click)="callPhoneNumber(s.surgery.coordinatorPhone)">
                                     <ion-icon name="call"></ion-icon> 
                                   </button>
                            </ion-item-options>
                        </ion-item-sliding>
                        </ion-list>
                    </ion-card-content>
                </ion-card>


            </ion-item-group>
        </ion-list>
        <ion-list-header [hidden]="shownSurgeries > 0" *ngSwitchCase="'future'" color="light">
            No Scheduled Surgeries in the future..
        </ion-list-header>






        <ion-list #surgeryList *ngSwitchCase="'today'">
            <ion-card *ngFor="let s of todaySurgeries;   let i = index;" #cardItem>
                <img src="assets/img/rooms/s{{i+1}}.PNG" />
                <div class="card-title">{{s.surgery.initials | uppercase}}</div>
                <div class="card-subtitle">{{s.surgery.patient}}</div>
                <ion-list>
                    <ion-item-sliding>
                        <ion-item border lines (click)="showDetail(s.surgery)">
                            <ion-avatar item-left>
                                <img [src]="s.surgery.doctorImage" />
                            </ion-avatar>

                            <h1> {{s.surgery.initials | uppercase }} </h1>



 <h2>{{s.surgery.initials}}</h2>
                        <h2>{{s.surgery.patient}}</h2>
                          <p> Status: {{s.surgery.admissionStatus}}</p>
                        <p> Duration: {{s.surgery.surgeryTime}}</p>
                        <p> <i> {{s.surgery.term | date:'shortDate'}} at  {{s.surgery.term | date:'shortTime'}} </i></p>
 
                        </ion-item>

                        <ion-item-options side="left">
                            <button ion-button color='favorite' (click)="sendBilling(s)">
                                        <ion-icon name="cash" item-left  small ></ion-icon>
                                        Billing 
                                        </button>
                            <button ion-button color="google" (click)="cancelSurgery(s)"> 
                                                <ion-icon name="close-circle" item-left small ></ion-icon>
                                                Cancel
                                                </button>
                        </ion-item-options>
                        <ion-item-options side="right">
                            <button ion-button color="primary" (click)="showEditCodes(s,'CPT')">
                                <ion-icon name="barcode"></ion-icon>
                                CPT
                            </button>
                            <button ion-button color="primary" (click)="showEditCodes(s,'DX')">
                             <ion-icon name="barcode"></ion-icon>
                                 DX 
                         </button>
                        </ion-item-options>
                    </ion-item-sliding>
                </ion-list>


                <ion-card-content>

                    <ion-list>
                        <ion-item-divider color="light" small>Actions</ion-item-divider>
                        <button ion-item (click)="showEditCodes(s,'CPT')">
    <ion-icon name="barcode" item-left small color="primary"></ion-icon>
    <h2>CPT Codes</h2>
    <p>{{s.surgery.cpt}}</p>
     <ion-note item-right>{{s.cptArray?.length}} codes</ion-note>
  </button>

                        <button ion-item (click)="showEditCodes(s,'DX')">
    <ion-icon name="barcode" item-left  small color="facebook"></ion-icon>
    <h2>DX Codes</h2>
    <p>{{s.surgery.diagnosisCode}}</p>
 <ion-note item-right>{{s.dxArray?.length}} codes</ion-note>
  </button>



                        <!--BILLING BUTTON-->
                        <ion-item-sliding>
                            <button ion-item clear item-left (click)="sendBilling(s)"> <ion-icon name="cash" item-left small color="favorite"></ion-icon>
                               <h2>Billing</h2>
                               <p>Send billing information to coordinator</p>
                                <ion-note item-right>{{s.surgery.billingCoordinatorName}}</ion-note> <ion-icon name="more" item-right small color="facebook"></ion-icon>
                        </button>
                            <ion-item-options side="right">
                                <button ion-button color="primary" (click)="callComposeEmail(s.surgery.billingCoordinatorEmail,s.surgery)">
                                     <ion-icon name="mail"></ion-icon> 
                                   </button>
                                <button ion-button color="primary" (click)="callPhoneNumber(s.surgery.billingCoordinatorPhone)">
                                     <ion-icon name="call"></ion-icon> 
                                   </button>
                            </ion-item-options>
                        </ion-item-sliding>








                        <!--CANCEL BUTTON-->
                        <ion-item-sliding>
                            <button ion-item clear item-left (click)="cancelSurgery(s,cardItem)"> <ion-icon name="close-circle" item-left small color="danger"></ion-icon>
                                <h2>Cancel</h2>
                                <p>Cancel surgery and remove from this list!</p> 
                                <ion-note item-right>{{s.surgery.coordinatorName}}  </ion-note> <ion-icon name="more" item-right small color="facebook"></ion-icon>
                        </button>
                            <ion-item-options side="right">
                                <button ion-button color="primary" (click)="callComposeEmail(s.surgery.coordinatorEmail)">
                                     <ion-icon name="mail"></ion-icon> 
                                   </button>
                                <button ion-button color="primary" (click)="callPhoneNumber(s.surgery.coordinatorPhone)">
                                     <ion-icon name="call"></ion-icon> 
                                   </button>
                            </ion-item-options>
                        </ion-item-sliding>

                    </ion-list>
                </ion-card-content>
            </ion-card>
        </ion-list>
        <ion-list-header [hidden]="shownSurgeries > 0" *ngSwitchCase="'today'" color="primary">
            <p> No Surgeries Today :( </p>
        </ion-list-header>

















<!--<ion-list #surgeryList *ngSwitchCase="'past'" [virtualScroll]="pastSurgeries" no-lines>
    <div *virtualItem="let s" style="width: 100%">-->

        <ion-list #surgeryList *ngSwitchCase="'past'">
            <ion-card *ngFor="let s of pastSurgeries;   let i = index;" #slidingItem>
                <ion-item (click)="showDetail(s.surgery)">
                    <ion-avatar item-left>
                        <img [src]="s.surgery.doctorImage" />
                    </ion-avatar>
                    <h2><strong>Patient:</strong> <i>{{s.surgery.initials}}</i></h2>
                    <h2><strong>Surgery:</strong> <i> {{s.surgery.patient}}</i></h2>
                    <h2><strong>Status:</strong> <i> {{s.surgery.admissionStatus}}</i></h2>
                        <h2><strong>Duration:</strong> <i> {{s.surgery.surgeryTime}}</i></h2>
                            <h2><strong>Complete:</strong> :<i> {{s.surgery.completed}}</i></h2>
                    <ion-note item-right><i> {{s.surgery.term | date:'shortDate'}}<br> {{s.surgery.term | date:'shortTime'}}  </i> </ion-note>
                </ion-item>

            </ion-card>
        </ion-list>
        <ion-list-header [hidden]="shownSurgeries > 0" *ngSwitchCase="'past'">
            No Past Surgeries
        </ion-list-header>
    </div>
</ion-content>